<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgreDB</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">cavoixanh</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <mapping resource="sample/Attendance.hbm.xml"></mapping>
        <mapping resource="sample/Exam.hbm.xml"></mapping>
        <mapping resource="sample/ExamType.hbm.xml"></mapping>
        <mapping resource="sample/ExamResult.hbm.xml"></mapping>
        <mapping resource="sample/Classroom.hbm.xml"></mapping>
        <mapping resource="sample/Course.hbm.xml"></mapping>
        <mapping resource="sample/Grade.hbm.xml"></mapping>
        <mapping resource="sample/Parent.hbm.xml"></mapping>
        <mapping resource="sample/Teacher.hbm.xml"></mapping>
        <mapping resource="sample/Student.hbm.xml"></mapping>
        <mapping resource="sample/ClassRoomStudent.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
